<?php

$my_name = 'your name';
$password_md5 = "4a7d1ed414474e4033ac29ccb8653d9b";	//default pass '0000'
$tiarra_socket_name = 'tiarrametro';

//twitter icon
define("TWITTER_ICON_DRAW",false);
//link image  0:off  1:Embedded  2:button
define("LINK_IMAGE_DRAW",0);

$conf = Array(
	'mountPoint' => ''
	,'layout' => 'layout'
	,'dao' => array('channel','nick','log')
	//applicaiton
	,'style' => 'style.css'
	,'channel_list_label' => 'channels'
	,'cookie_save_time' => 7*86400
);

$jsConf = Array(
	'update_time' => 3
	,'pickup_word' => array('hogehoge','ほげほげ')
	,'pickup_channel'=> '.*'
	,'my_name'=> $my_name
	,'on_icon' => TWITTER_ICON_DRAW
	,'on_image' => LINK_IMAGE_DRAW
);

$jsConf['click_menu'] = Array(
	'@tig' => Array(
		'match' => '\((\w+)\)',
		'menu' => Array(
			're' => Array( 'type' => 'typablemap_comment' ),
			'fav' => Array( 'type' => 'typablemap' ),
			//'block' => Array( 'type' => 'typablemap' ),
			'rt' => Array( 'type' => 'typablemap' ),
			'mrt' => Array( 'type' => 'typablemap_comment' ),
			'res' => Array( 'type' => 'typablemap' ),
		)
	),
	'@fig' => Array(
		'match' => '\((\w+)\)',
		'menu' => Array(
			're' => Array( 'type' => 'typablemap_comment' ),
			'like' => Array( 'type' => 'typablemap' ),
			'fav' => Array( 'type' => 'typablemap' ),
			'arr' => Array( 'type' => 'typablemap' ),
		)
	),
);

// Databaseの設定
define("DATABASE_HOST","localhost");
define("DATABASE_ID","tiarra");
define("DATABASE_PASS","hogehoge");
define("DATABASE_NAME","tiarra");

// utf8, ujis, sjis
define("DATABASE_CHARSET","utf8");

define("SYSTEM_DEBUG",false);
define("DATABASE_DEBUG",false);

?>
