<?php

/**** user setting ****/

// youer name
$my_name = 'your name';

//$password_md5 = "";
$password_md5 = "4a7d1ed414474e4033ac29ccb8653d9b";	//default pass '0000'

//発言用のソケット名
$tiarra_socket_name = 'tiarrametro';

//アプリケーションのマウントポイント
//$conf[ 'mountPoint' ] = '/hoge/public';

//スタイルシート
//$conf[ 'style' ] = 'style_arawas.css';

//チャンネル一覧のヘッダー表記
//$conf[ 'channel_list_label' ] = 'channels';

//ログイン クッキーの保持期間
//$conf[ 'cookie_save_time' ] = 86400;

//twitter iconの利用
//$jsConf[ 'on_icon' ] = true;

//リンク画像の展開
//$jsConf[ 'on_image' ] = 1;

//update time
//$jsConf[ 'update_time' ] = 3;

//キーワードヒット
//$jsConf[ 'pickup_word' ] = array('hogehoge','ほげほげ');

// Twitter IRC Gateway server suffix ( #xxx@TIG -> TIG setting
//$jsConf[ 'log_popup_menu' ][ 'server' ][ 'tig' ][ 'suffix' ] = 'TIG';
// Facebook IRC Gateway server suffix
//$jsConf[ 'log_popup_menu' ][ 'server' ][ 'fig' ][ 'suffix' ] = 'fig';
// tiarra network separator ( default '@'
//$jsConf[ 'log_popup_menu' ][ 'separator' ] = '@';

// menu added sample
//$jsConf[ 'log_popup_menu' ][ 'server' ][ 'tig' ][ 'menu' ][ 'block' ][ 'type' ] = 'typablemap';
//$jsConf[ 'log_popup_menu' ][ 'server' ][ 'tig' ][ 'menu' ][ 'mrt' ][ 'type' ] = 'typablemap_comment';

// Databaseの設定
define("DATABASE_HOST","localhost");
define("DATABASE_ID","tiarra");
define("DATABASE_PASS","hogehoge");
define("DATABASE_NAME","tiarra");

/**** system setting ****/

$jsConf[ 'my_name' ] = $my_name;

?>
