/* vim: set noet ft=css: */
@charset "utf-8";

/* 電卓風ポップアップメニュー */
div#log_popup_menu {
    width: auto;
}

div#log_popup_menu ul {
    margin: -0.3em 0.7em 0.8em;
    padding: 0;
    zoom: 1;
}

div#log_popup_menu ul:before {
    display: table;
    content: "";
    zoom: 1;
}

div#log_popup_menu ul:after {
    display: table;
    content: "";
    zoom: 1;
    clear: both;
}

div#log_popup_menu ul li {
    padding: 0;
    float: left;
    text-align: center;
    border: 2px solid #202020;
    margin: 0.1em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

div#log_popup_menu ul li a {
    width: 3.0em;
    padding: 0.3em 0.5em;
}

div#log_popup_menu ul li:nth-child(3n + 4) {
    clear: both;
}

